.menuHeader {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: whitesmoke;
}

.menuHeader img {
  width: 30%;
}

.menuHeader img:hover {
  transform: scale(1.1);
}

.menuTextHeader {
  font-size: 2rem;
  font-weight: bold;
}

.menuListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fcad47;
}
